# Venvs and caches
.venv/
**/__pycache__/
.pytest_cache/
.tox/
.mypy_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
pip-wheel-metadata/
wheelhouse/

# VCS & editors
.git/
.gitignore
.gitattributes
*.swp
*.swo
.DS_Store

# Node or other unrelated
node_modules/

# volumes and other mounted files
volumes
