{% macro navbar(current_user) %}
<nav class="navbar navbar-expand-lg navbar-light sticky-top br-navbar">
    <div class="container-fluid">
    <a href="/" class="navbar-brand">
        <div class="rounded-5 d-block p-1" style="background-color: #f7efe5;">
            <img class="m-1" alt="Logo" width="40"
                 src="{{url_for('public.static', filename='bonsai_logo_sm.png')}}">
        </div>
    </a>
    <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"/>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ navbar_link('Home', 'public.index') }}
            {{ navbar_link('Groups', 'groups.groups', test_id='groups-view-btn') }}
            {{ navbar_link('Locations', 'groups.groups', True) }}
            {% if current_user.is_admin %}
                {{ navbar_link('Admin', 'admin.admin_panel', test_id="admin-panel-navbar-btn") }}
            {% endif %}
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 ml-2">
            {% if current_user.is_authenticated %}
                {{ user_dropdown(current_user) }}
                <li class="nav-item d-flex flex-row">
                    <a id="open-basket-btn" class="nav-link align-self-center" data-bs-toggle="offcanvas" href="#basket-offcanvas" role="button" data-test-id="open-basket-btn">
                        <i class="bi bi-basket3 fs-4"></i>
                        {% set basket=current_user.basket %}
                        <span id="samples-in-basket-badge" hidden class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-danger">
                            <span id="samples-in-basket-counter" data-test-id="samples-in-basket-counter">{{ basket | length }}</span>
                            <span class="visually-hidden">Samples in basket</span>
                        </span>
                    </a>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="d-flex flex-row nav-link active" href="{{url_for('login.login')}}">
                    <i class="bi bi-person fs-2 px-2"></i>
                    <div class="d-flex flex-column ">
                        <span>Welcome</span>
                        <strong>Log in</strong>
                    </div>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>
{% if config['TESTING'] %}
    {{ testing_header() }}
{% endif %}
{{ sample_basket_offcanvas(current_user) }}
{% endmacro %}

{% macro testing_header() %}
<div id="testing-instance-alert" class="alert alert-info" role="alert">
    <i class="bi bi-exclamation-diamond"></i>
    This is a test instance of Bonsai. It might be unstable or not contain production data.
</div>
{% endmacro %}

{% macro sample_basket_offcanvas(current_user) %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="basket-offcanvas" aria-labelledby="sample-basket-offcanvas-label">
    <div class="offcanvas-body">
        <div id="basket-content" class="overflow-auto" style="max-height: 60vh;"></div>
        <hr>
        <div class="row">
            <div class="col-auto">
                <button
                    id="clear-basket-btn"
                    class="btn btn-outline-danger btn-sm float-right"
                    aria-label="Clear basket"
                    data-test-id="clear-basket-btn"
                    type="button">
                    <i class="bi btn-sm bi-trash3-fill">Clear basket</i>
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-auto">
                <div id="basket-cluster-samples" class="dropdown">
                    <button 
                      class="btn btn-success dropdown-toggle" 
                      type="button" data-bs-toggle="dropdown"
                      data-test-id="cluster-samples-dropdown-btn"
                    >
                        <span class="content">
                            <i class="bi bi-diagram-3-fill"></i>
                            Cluster
                        </span>
                        <span class="loading align-middle d-none">
                            <span class="spinner-grow text-light spinner-grow-sm" role="status"></span>
                            Loading...
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#" 
                               data-test-id="cluster-cgmlst-btn"
                               data-bi-typing-method="cgmlst">cgMLST</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" 
                               data-test-id="cluster-minhash-btn"
                               data-bi-typing-method="minhash">MinHash</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" 
                               data-test-id="cluster-snv-btn"
                               data-bi-typing-method="ska">SNV</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" 
                               data-test-id="cluster-mlst-btn"
                               data-bi-typing-method="mlst">MLST</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro navbar_link(name, target, disabled=False, test_id=None) %}
<li class="nav-item">
    <a class="nav-link {% if disabled %} disabled {% endif %} fs-5" 
       {% if test_id is not none %}data-test-id={{test_id}}{% endif %}
       href="{{ url_for(target) }}">
       {{ name }}
    </a>
</li>
{% endmacro %}

{% macro user_dropdown(current_user) %}
<li class="nav-item dropdown" data-test-id="user-options-dropdown">
    <a 
        id="navbarDropdown"
        class="nav-link dropdown-toggle" 
        role="button"
        href="#" 
        data-bs-toggle="dropdown"
        data-bs-display="static"
        aria-expanded="false"
        >
        <span className="user-alias-container">
            <i class="bi bi-person fs-2"></i>
        </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
        {{ dropdown_link('Profile', disabled=True) }}
        {{ dropdown_link('Settings', disabled=True) }}
        <li><hr class="dropdown-divider"/></li>
        {{ dropdown_link('Log out', 'login.logout', disabled=False, test_id='logout-user-btn') }}
    </ul>
</li>
{% endmacro %}

{% macro dropdown_link(text, url_target, disabled=False, test_id=None) %}
<li>
    <a href="
    {% if url_target %}
        {{ url_for(url_target) }}
    {% else %}
        #
    {% endif %}
    "
        class="dropdown-item {% if disabled %} disabled {% endif %}"
        {% if test_id is not none %}data-test-id={{test_id}}{% endif %}
    >{{ text }}</a>
</li>
{% endmacro %}
