# for tests
selenium
pyyaml
pytest
pytest-html

# for upload script
pyyaml
requests
bonsai-prp @ git+https://github.com/SMD-Bioinformatics-Lund/bonsai-prp.git@137-add-support-basic-user-defined-metadata
pydantic
click