{% extends "layout.html" %}
{% from "sidebar.html" import sidebar, sidebar_header %}
{% from "cards.html" import sample_header, virulence_card, fmt_resistance_info %}
{% from "cards.html" import amr_prediction_card with context %}

{% macro export_btn() %}
    {{ sidebar_header("Action") }}
    <form action="{{ url_for('samples.download_lims', sample_id=sample.sample_id) }}">
        <button class="btn btn-sm btn-warning ms-2" type="submit">
            <i class="bi bi-box-arrow-up"></i>
            Export to LIMS
        </button>
    </form>
{% endmacro %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('samples.static', filename='sample.css')}}">
{% endblock css %}

<form method="POST" action="{{ url_for(request.endpoint, **request.view_args) }}">
    <input value="{{ request.form.get('input-name') }}">
</form>

{% block content %}
{% set footnotes = [] %}
<div class="container-fluid br-layout">
    {{ sidebar(sample, optional_macro=export_btn) }}
    <main class="br-main order-1">
        <div class="br-toc">
            {# right handed sidebar for filters and classification #}
        </div>
        {{ sample_header(sample, class_names="") }}
        <div class="br-content container-fluid pb-5">
            <h5>Resistance prediction</h5>
            <hr class="mt-2 col-md-3 border border-success border-2">
            {{ sample }}
        </div>
    </main>
</div>
{% endblock content %}
