{% macro sample_btn_renderer(cell_info)  %}
    <td>
        <a href="{{ url_for('samples.sample', sample_id=cell_info) }}">Open</a>
    </td>
{% endmacro %}

{% macro taxonomic_name_renderer(cell_info) %}
    <td>
        <span class="fw-light fst-italic">{{ cell_info }}</span>
    </td>
{% endmacro %}

{% macro qc_status_renderer(cell_info) %}
    {% set status = cell_info.status %}
    {% if status == 'passed' %}
        {% set text_colour = 'text-success' %}
    {% elif status == 'failed' %}
        {% set text_colour = 'text-danger' %}
    {% else %}
        {% set text_colour = '' %}
    {% endif %}


    {% if cell_info.action and cell_info.comment %}
        {% set action = 'Action: ' + cell_info.action %}
        {% set tooltip_info = action + ' - ' + cell_info.comment %}
    {% elif cell_info.action %}
        {% set tooltip_info = cell_info.action %}
    {% elif cell_info.comment %}
        {% set tooltip_info = cell_info.comment %}
    {% else %}
        {% set tooltip_info = None %}
    {% endif %}
    <td>
        <span class="fw-light {{ text_colour }}">
            {{ status }}
        </span>
        {% if tooltip_info %}
            <i class="bi bi-info-circle"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="{{ tooltip_info }}"></i>
        {% endif %}
    </td>
{% endmacro %}

{% macro mrsa_renderer(amr)  %}
    {% set has_meca = amr | has_arg("mecA") %}
    <td>
    {% if has_meca %}
        <span class="bade bg-danger fw-normal text-light fs-6">MRSA</span>
    {% endif %}
    </td>
{% endmacro %}

{% macro mlst_renderer(cell_info) %}
    {% if cell_info.data == None %}
        {% set mlst_st="-" %}
    {% else %}
        {% set mlst_st=cell_info.data %}
    {% endif %}
    <td>
        <span class="fw-normal fs-6">{{mlst_st}}</span>
    </td>
{% endmacro %}

{% macro pvl_renderer(pvl) %}
    {% set pvl_tag = pvl | get_pvl_tag %}
    <td>
        <span class="badge bg-{{pvl_tag.severity}} fw-normal">{{pvl_tag.label}}</span>
    </td>
{% endmacro %}

{% macro tags_renderer(tag_info) %}
    <td data-search="{% for tag in tag_info %}{{tag.label}} {% endfor %}">
    {% for tag in tag_info %}
        <span class="badge text-bg-{{tag.severity}} p-1 me-1">
            {{tag.label}}
        </span>
    {% endfor %}
    </td>
{% endmacro %}

{% macro comment_tooltip(comment) %}
<p class='mb-1'>{{ comment.comment }}</p>
<p class='mt-0 text-end fst-italic'>- {{ comment.username }}</p>
<hr>
{% endmacro %}

{% macro comments_renderer(cell_info) %}
    {% set comments_obj = cell_info %}
    <td>
        {% if comments_obj | length %}
            <span class="badge text-bg-primary" data-bs-toggle="tooltip" 
                  data-bs-placement="top" data-bs-html="true"
                  data-bs-title="
                  <div>
                  {% for comment in comments_obj %}
                  {% if comment.displayed %}{{ comment_tooltip(comment) }}{% endif %}
                  {% endfor %}
                  </div>
                  ">
                <i class="bi bi-chat-right"></i>
                <span>{{ comments_obj | length }}</span>
            </span>
        {% endif %}
    </td>
{% endmacro %}

{% macro text_renderer(cell_info) %}
    <td>{{ cell_info }}</td>
{% endmacro %}

{% macro number_renderer(cell_info) %}
    <td>{{ cell_info | fmt_number }}</td>
{% endmacro %}

{% macro date_renderer(cell_info) %}
    <td>{{ cell_info | strftime }}</td>
{% endmacro %}

{% macro boolean_renderer(cell_info) %}
    <td>
        {% if cell_info %}
            <i class="bi bi-check-lg"></i>
        {% else %}
            <i class="bi bi-x"></i>
        {% endif %}
    </td>
{% endmacro %}

{% macro list_renderer(cell_info) %}
    <td>{{ cell_info | join(', ') }}</td>
{% endmacro %}