{% extends "layout.html" %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('groups.static', filename='edit.css') }}">
{% endblock css %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('groups.static', filename='group-editor.min.js') }}"></script>
{% endblock scripts %}

{% block content %}
<main>
  <div class="contianer-fluid py-3">
    <group-editor
      mode="{{ mode }}"
      {% if group_id %}group-id="{{group_id}}"{% endif %}
      data-redirect-template="{{ url_for('groups.group_editor_view', group_id='__GROUP_ID__') }}"
    ></group-editor>
  </div>
</main>
{% endblock content %}