{% extends "layout.html" %}
{% from "shared.html" import search_similar_btn, add_to_basket_btn, qc_bulk_toggle, delete_samples_btn, sample_table %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('groups.static', filename='groups.css') }}">
<link rel="stylesheet" href="{{ url_for('groups.static', filename='datatables.min.css') }}">
{% endblock css %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}

{% block content %}
<div class="card bg-white mt-2 col-lg-auto mx-2">
    <div class="card-body br-main">
        <h5 class="card-title text-uppercase fw-light">Groups</h5>
        <hr class="mt-2 col-md-2 border border-success border-2">
        <div id="group-container" data-test-id="group-container"></div>
        <h5 class="card-title text-uppercase fw-light pt-4">All samples</h5>
        <hr class="mt-2 col-md-2 border border-success border-2">
        <nav class="navbar bg-light">
            <div id="user-action-container" class="container-fluid justify-content-start">
                {{ add_to_basket_btn() }}

                {% if current_user.is_admin %}
                    {{ delete_samples_btn() }}

                    {# Target for dropdown for adding samples to group #}
                    <div id="add-samples-to-group-container"></div>
                {% endif %}

                {{ search_similar_btn() }}

                {{ qc_bulk_toggle(bad_qc_actions) }}
            </div>
        </nav>
        {{ sample_table(table_data) }}
    </div>
</div>
<script>
    const apiUrl = "{{ config.API_EXTERNAL_URL }}"
    const accessToken = "{{ token }}"
    const groupId = null
    // template code for adding to basket
    // template code for searching similar samples

    document.addEventListener('DOMContentLoaded', () => {
        bonsai.initGroupView(groupId, apiUrl, accessToken, "")
    });
</script>
{% endblock content %}