{% extends "layout.html" %}
{% from "shared.html" import search_similar_btn, add_to_basket_btn, qc_bulk_toggle, delete_samples_btn %}
{% from "shared.html" import sample_table with context %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('groups.static', filename='groups.css') }}">
    <link rel="stylesheet" href="{{ url_for('groups.static', filename='datatables.min.css') }}">
{% endblock css %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('groups.static', filename='datatables.min.js') }}"></script>
{% endblock scripts %}

{% block content %}
<div class="card bg-white mt-2 col-lg-auto mx-2">
    <div class="card-body br-main">
        <h4 class="card-title me-auto fw-light">{{group_name}}</h4>
        <hr class="mt-2 col-md-2 border border-success border-2">
        <p class="card-text mb-2">{{group_desc}}</p>
        <table class="table table-sm w-auto">
            <thead><tr><th>Samples</th><th>Updated</th></tr></thead>
            <tbody>
                <tr>
                    <td id="samples-counter">{{ table_data.rows | length }}</td>
                    <td id="group-modified-timestamp">{{ modified | strftime }}</td></tr>
            </tbody>
        </table>
        <nav class="navbar bg-light">
            <div class="container-fluid justify-content-start">
                {{ add_to_basket_btn() }}
                {% if current_user.is_admin %}
                    {{ delete_samples_btn() }}

                    {# remove samples from group #}
                    <button id="remove-from-group-btn" class="btn btn-sm btn-secondary ms-1" data-bi-group-id="{{ title }}">
                        <i class="bi bi-folder-minus"></i>
                    </button>
                {% endif %}
                {{ search_similar_btn() }}
                {% if display_qc %}
                    {{ qc_bulk_toggle(bad_qc_actions)}}
                {% endif %}
                {# toggle display qc values #}
                <a class="btn btn-sm btn-outline-primary {% if display_qc %}active{% endif %} ms-2" 
                   data-test-id="open-qc-view-btn"
                   href="{{ url_for('groups.group', group_id=group_id, qc=not display_qc) }}">
                   Show QC
                </a>
            </div>
        </nav>
        {{ sample_table(table_data) }}
    </div>
</div>
<script>
    const apiUrl = "{{ config.API_EXTERNAL_URL }}"
    const accessToken = "{{ token }}"
    const groupId = "{{ group_id }}"
    // template code for adding to basket
    // template code for searching similar samples

    document.addEventListener('DOMContentLoaded', () => {
        bonsai.initGroupView(groupId, apiUrl, accessToken, "")
    });
</script>
{% endblock content %}
