{% from  'sidebar.html' import qc_classification_form_fields  %}
{% from "cell_fmt.html" import format_table_cell %}

{% macro add_to_basket_btn() %}
<button id="add-to-basket-btn" class="btn btn-sm btn-outline-success" data-test-id="add-to-basket-btn" disabled>
    <i class="bi bi-plus-lg"></i>
    <span>Add to basket</span>
</button>
{% endmacro %}

{% macro search_similar_btn() %}
<div id="find-similar-dropdown" class="dropdown similar-samples-container">
    <button id="similar-samples-dropdown-btn"
            class="btn btn-sm btn-outline-secondary dropdown-toggle ms-4" 
            data-bs-toggle="dropdown" disabled>
        <span class="content">
            <i class="bi bi-search"></i>
            <span>Find similar</span>
        </span>
        <span class="loading align-middle d-none">
            <span class="spinner-grow text-success spinner-grow-sm" role="status"></span>
            Loading...
        </span>
    </button>
    <form class="dropdown-menu dropdown-menu-end p-2 needs-validation">
        <input type="text" name="similar-samples-limit" 
                id="similar-samples-limit" class="form-control form-control-sm" 
                placeholder="Number of samples" value="50" required>
        <input type="text" name="similar-samples-threshold" 
                id="similar-samples-threshold" class="form-control form-control-sm mt-2" 
                placeholder="Min similarity" value="0.95" required>
        <button type="button" id="select-similar-samples-btn" class="btn btn-sm btn-outline-success mt-2" >
            <i class="bi bi-search"></i>
            Search
        </button>
    </form>
</div>
{% endmacro %}

{% macro qc_bulk_toggle(bad_qc_actions) %}
    {#

        Button interacting with sample list in groups. Activates pop up dialog when used.

        Inputs:
            - bad_qc_actions : List[str]    List of selectable follow-up actions for failed samples

    #}
    <div id="qc-menu-dropdown" class="dropdown">
        <button
            id="toggle-qc-btn"
            class="btn btn-sm btn-outline-secondary dropdown-toggle ms-4"
            data-bs-toggle="dropdown" data-bs-auto-close="outside"
            disabled
        >
            Set QC status
        </button>
        <form
            class="needs-validation"
            method="post"
            id="qc-form-control"
            action="{{ url_for('groups.update_qc_classification') }}"
        >
            <div id="qc-dropdown-contents" class="dropdown-menu dropdown-menu-end p-2">
                {{ qc_classification_form_fields(
                    bad_qc_actions=bad_qc_actions,
                    selected_qc_status = "",
                    selected_action = "",
                    comment_text = ""
                ) }}
            </div>
        </form>
    </div>
{% endmacro %}

{% macro delete_samples_btn() %}
    <button id="remove-samples-btn" class="btn btn-sm btn-outline-danger ms-1" disabled>
        <i class="bi bi-trash"></i>
        <span>Delete samples</span>
    </button>
{% endmacro %}

{% macro sample_table(table_data) %}
    {# build sample table #}
    <table id="sample-table" class="display table table-striped">
        <thead>
            <tr>
                {# build table header #}
                {% for col in table_data[0] %}
                    <td>{{ col.label }}</td>
                {% endfor %}
            </th>
        </thead>
        <tbody>
            {% for row in table_data %}
                <tr id="{{ row[0].data }}"
                 {% if test_id is not none %}data-test-id="sample-row-{{ loop.index }}"{% endif %}
                 >
                    {% for cell in row %}
                        {{ format_table_cell(cell) }}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}